body {
    background-image: url("../imagens/RPG_40_generate_an_image_for_a_fantasy_book_3.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 12px gray;
    background-color: black;
    margin-top: 2rem;
    color: #f5f5f5;

}

header {
    text-align: center;
    margin-bottom: 2rem;
}

.conteudo {
    margin-top: 2rem;
}

.livro-info {
    text-align: center;
    margin-bottom: 2rem;
}

.livro-imagem img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.sinopse {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: black;
    box-shadow: 0px 4px 12px gray;
}
.historia {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: black;
    box-shadow: 0px 4px 12px gray;

}

.opinioes {
    padding: 1.5rem;
    border-radius: 12px;
    background-color: black;
    box-shadow: 0px 4px 12px gray;
}

.opinioes blockquote {
    border-left: 4px solid #007bff;
    padding-left: 1rem;
    margin: 1rem 0;
}

.opinioes blockquote cite {
    font-style: italic;
    display: block;
    margin-top: 0.5rem;
    color: #777;
}
